name: Grocery App CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set Image Tag
      run: echo "IMAGE_TAG=${GITHUB_SHA}">> $GITHUB_ENV

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/palgroapptill:${{ env.IMAGE_TAG }} .

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/palgroapptill:${{ env.IMAGE_TAG }}

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Update Azure Container App
      run: |
        az containerapp update \
        --name grocerpal \
        --resource-group Sai-Groc \
        --image palashh/palgroapptill:${{ env.IMAGE_TAG }}
